.grid-container:before, .grid-container:after {
  content: "";
  display: table;
}
.grid-container:after {
  clear: both;
}

.panel-3col-stacked .panel-col-top {
  float: left;
  width: 78.57143%;
  margin-left: 0%;
  margin-right: -78.57143%;
}

.panel-3col-stacked .panel-col-top .inside {
  margin-bottom: .5em;
}
.panel-3col-stacked .panel-col-top .inside img {
  border-radius: 14px;
}

.panel-3col-stacked .panel-col-first {
  float: left;
  width: 21.42857%;
  margin-left: 0%;
  margin-right: -21.42857%;
  clear: left;
}

.panel-3col-stacked .panel-col .inside {
  margin: 0 .5em 1em .5em;
}

.panel-3col-stacked .panel-col {
  float: left;
  width: 57.14286%;
  margin-left: 21.42857%;
  margin-right: -78.57143%;
}

.panel-3col-stacked .panel-col .inside {
  margin: 0 .5em 1em .5em;
}

.panel-3col-stacked .panel-col-last {
  float: right;
  width: 21.42857%;
  margin-right: 0%;
  margin-left: -21.42857%;
}

.panel-3col-stacked .panel-col-last .inside {
  margin: 0 0 1em .5em;
}

.panel-3col-stacked .panel-col-bottom {
  float: right;
  width: 78.57143%;
  margin-right: 0%;
  margin-left: -78.57143%;
  clear: right;
}

.panel-3col-stacked .panel-separator {
  margin: 0 0 1em 0;
}
